.navbar-link-container {
    display:flex;
    flex-direction: row;
    list-style: none;
}

.navbar-links {
    background-color: green;
    justify-content: flex-end;
    padding-top:10px;
    padding-bottom:10px;
    padding-inline: 5px;
}